on:
  pull_request:
  push:
    branches:
      - main

jobs:
  check:
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      matrix:
        ruby: [ '2.5', '2.6', '2.7' ]
        protocol: [ 'json', 'msgpack' ]
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - env:
          RSPEC_RETRY: true
          PARALLEL_TEST_PROCESSORS: 2
          PROTOCOL: ${{ matrix.protocol }}
        run: ./spec/run_parallel_tests
      - uses: coverallsapp/github-action@1.1.3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
